.custom-form{
padding-left: 5%;
padding-right: 5%;
}

.header-title{
	background-color:#29434e;
	color:white;
	border-bottom: 2px solid white;
	width:100%;
	padding: 8px 4px 8px 4px;
	text-align:center;
}

body{
font-family: 'Fira Sans', sans-serif !important;
}

.input-field textarea:focus, input:focus{
	border: 2px solid #93969b;
}

.formpage {
	border-right: 2px solid white;
}
