
<div class="reciept-card" style="width: 19cm;
height: 7.6cm;
border: 1px black dotted;
margin: 0 auto;" id="reciept">
    <div class="reciept-brand" style="text-align: center;">
      <h2>SnK Mobile Repairing </h2>
      <p style="margin-top: -20px;">PWD Road, Baharagora, Ph: 9431374698</p>
    </div>
    <div class="reciept-content" style="display: flex;
    flex-wrap: wrap;">
      <div class="reciept-left" style=" flex: 2;
      padding-left: 4px;">
        <h4>Billno: {{recieptDetails._id}}</h4>
        <h4>Return Date: {{recieptDetails.return | date}}</h4>
        <h4>Estimated Rate: {{recieptDetails.rate}}</h4>
      </div>
      <div class="reciept-right" style="flex: 4;
      border-left: 1px dotted black;
      padding-left: 4px;">
        <h4>Name: {{recieptDetails.name}}</h4>
        <h4>Accessories: {{recieptDetails.accessories}}</h4>
        <h4>Issue: {{recieptDetails.issue}}</h4>
      </div>
    </div>
    <div class="reciept-footer" style="float: right;
    padding-right: 4px;">
      <p>Signature - for SnK Mobile Repairing</p>
    </div>
  </div>

  <button mat-button (click)="print()">Print</button>
