.reciept-card {
  width: 19cm;
  height: 7.6cm;
  border: 1px black dotted;
  margin: 0 auto;
}

.reciept-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.reciept-brand {
  padding-left: 10px;
  padding-right: 10px;
}

.reciept-content {
  display: flex;
  flex-wrap: wrap;
}

.reciept-left {
  padding-left: 4px;
  flex: 1;
}

.reciept-right {
  padding-left: 4px;
  padding-right: 4px;
  flex: 1;
}

.reciept-footer {
  text-align: left;
  padding-right:10px;
  margin-top: 20px;
}

button {
  background-color: #b71540;
  color: white;
}

th {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}

td {
  padding-left: 10px;
  width: 100%;
  border: 1px solid black;
}

.nb {
  font-size: 0.8em;
  margin-top: -60px;
  margin-left:10px;
}
