
<div class="reciept-card" id="reciept">
    <div class="reciept-header">
      <div class="reciept-brand">
        <h3>SnK Mobile Repairing </h3>
        <p style="margin-top: -20px;">PWD Road, Baharagora, Ph: 9431374698</p>
      </div>
      <div class="reciept-brand">
          <h3>RECEIPT</h3>
          <p style="margin-top: -20px;">{{recieptDetails.date | date: "dd-MMM-yyyy HH:mm:ss"}}</p>
        </div>
    </div>
    <div class="reciept-content">
      <div class="reciept-left">
        <table>
          <tr>
            <th>Sl: </th>
            <td>{{recieptDetails._id}}</td>
          </tr>
          <tr>
              <th>Model: </th>
              <td>{{recieptDetails.model}}</td>
            </tr>
          <tr>
            <th>Delivery: </th>
            <td>{{recieptDetails.return | date}}</td>
          </tr>
            <th>Estimated: </th>
            <td>{{recieptDetails.rate}}</td>
        </table>
      </div>
      <div class="reciept-right">
        <table>
            <tr>
              <th>Name: </th>
              <td>{{recieptDetails.name}}</td>
            </tr>
            <tr>
                <th>Issue: </th>
                <td>{{recieptDetails.issue}}</td>
              </tr>
            <tr>
              <th>Accessories: </th>
              <td>{{recieptDetails.accessories}}</td>
            </tr>
          </table>
      </div>
    </div>
    <h4 style="margin: 0; margin-left: 5px;">SATURDAY CLOSED</h4>
    <div class="reciept-footer">
        <div class="signature" style="text-align:right;margin-top: 40px;">
            Signature (SnK)
          </div>
      <div class="nb">
          <p>Working hours: 8:30 AM - 1:30 PM | 4:00 PM - 7:00 PM. <br> This receipt is valid for 3 months from dated. Deposit of receipt is necessary at the time of delivery</p>
      </div>
    </div>
  </div>
  

  <button mat-button (click)="print()">Print</button>
